
Test001/.vs/Test001/v15/.suo
Test001/.vs/Test001/v15/Browse.VC.db
Test001/.vs/Test001/v15/Browse.VC.opendb
Test001/.vs/Test001/v15/ipch/a81eadd3249b9b86.ipch
Test001/.vs/Test001/v15/ipch/ab8b0ba33b3b2f50.ipch
Test001/Debug/Test001.pdb
Test001/Test001.sln
Test001/x64/Debug/Test001.pdb
Test001/x64/Debug/Test001.ilk
Test001/x64/Debug/Test001.exe
Test001/Test001/x64/Debug/vc141.pdb
Test001/Test001/x64/Debug/vc141.idb
Test001/Test001/Debug/stdafx.obj
Test001/Test001/Debug/Test001.Build.CppClean.log
Test001/Test001/Debug/Test001.log
*.obj
*.pch
*.tlog
*.idb
*.pdb
Test001/Test001/Test001.vcxproj.filters
Test001/Test001/x64/Debug/Test001.log
